body {
	margin: 0px; padding: 0px;
}
div {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
code {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
body {
	text-align: left; color: rgb(79, 79, 79); font-family: "ו", Arial, Helvetica, sans-serif; font-size: 12px;
}
a:link {
	color: rgb(79, 79, 79); text-decoration: none;
}
a:visited {
	color: rgb(79, 79, 79); text-decoration: none;
}
a:hover {
	color: rgb(235, 1, 1); text-decoration: none;
}
fieldset {
	border: currentColor; border-image: none;
}
img {
	border: currentColor; border-image: none;
}
legend {
	display: none;
}
img {
	vertical-align: top;
}
em {
	font-style: normal;
}
li {
	list-style: none;
}
h1 {
	font-size: 14px;
}
h2 {
	font-size: 14px;
}
h3 {
	font-size: 12px;
}
h4 {
	font-size: 12px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 12px;
}
input {
	
}
button {
	
}
textarea {
	
}
select {
	
}
